.star {
    position: relative;
    right: -135px;
    top: 2.2px;
    width: 20px;
    justify-content: center;
    align-items: center;
    animation: rotate 4s linear infinite;
}

.home-button {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.projects-button {
    border-top: none;
    border-bottom: 2px solid rgb(217,217,217);
}

.contact-button {
    border-top: none;
    border-bottom: 2px solid rgb(217,217,217);
}

@media (prefers-color-scheme: dark) {
    .home-button {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    .projects-button {
        border-top: none;
        border-bottom: 2px solid rgb(127,127,127);
    }
    .contact-button {
        border-top: none;
        border-bottom: 2px solid rgb(127,127,127);
    }
}